@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.logoIcon {
  svg {
    transform: rotate(33deg);
  }
}
.mainContainer {
  min-height: 100dvh;
}
.previewDiv {
  background-image: url("../public/iphone-mockup.png");
  background-repeat: no-repeat;
  background-position: center;
  /* height: 400px; */
  background-color: white;
  min-height: calc(100dvh - 108px);
  background-size: 60%;
  border-radius: 6px;
  /* background-blend-mode: invert(5%) sepia(2%) saturate(844%) hue-rotate(202deg) brightness(113%) contrast(87%);; */
}
.grid-custom {
  grid-template-columns: 500px 2fr;
}

.css-tr4s17-option {
  background-color: #613bf7 !important;
}
.css-d7l1ni-option:active,
.css-d7l1ni-option {
  background-color: #dfd8fd !important;
}
.css-qr46ko {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.css-t3ipsp-control:hover {
  border-color: #613bf7 !important;
}
.css-1xc3v61-indicatorContainer {
  color: #613bf7 !important;
}
.css-1xc3v61-indicatorContainer:hover {
  color: #613bf7 !important;
}
.dividerLine {
  position: absolute;
  bottom: -2rem;
  left: -32px;
  width: calc(100% + 64px);
  height: 1px;
  background-color: #eeeeee;
}
.dividerLineProfile {
  position: absolute;
  bottom: 60px;
  left: -32px;
  width: calc(100% + 64px);
  height: 1px;
  background-color: #eeeeee;
}

@media screen and (max-width: 960px) {
  .grid-custom {
    grid-template-columns: 1fr;
  }
  .previewDiv {
    display: none;
  }
}
.profile-custom-grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
@media screen and (max-width: 480px) {
  .profile-custom-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1150px) {
  .profile-custom-grid {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 12px;
  }
}
.profile-upload-custom-grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}
