@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.logoIcon {
  svg {
    transform: rotate(33deg);
  }
}
.mainContainer {
  min-height: 100dvh;
}
.previewDiv {
  background-image: url("../public/iphone-mockup.png");
  background-repeat: no-repeat;
  background-position: center;
  /* height: 400px; */
  background-color: white;
  min-height: calc(100dvh - 108px);
  background-size: 60%;
  border-radius: 6px;
  /* background-blend-mode: invert(5%) sepia(2%) saturate(844%) hue-rotate(202deg) brightness(113%) contrast(87%);; */
}
.grid-custom {
  grid-template-columns: 500px 2fr;
}
